@model MLS.Web.Data.Entities.DocumentoEntity

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DocumentoEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Document)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Document)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pdfUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pdfUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UploadDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
