@model MLS.Web.Data.Entities.DocumentoEntity

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<div class="row">
    <div class="col-md-4">
        <h4>DocumentoEntity</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Document)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Document)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UploadDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UploadDate)
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(Model.pdfUrl))
        {
            <iframe src="@Url.Content(Model.pdfUrl)?
                   srcid=1AdyzEZ8rhItZZ6PtQpHYsX4MyIpuYHgJ&pid=explorer&efh=false&a=v&chrome=false&embedded=true"
                    width="500" height="500">
            </iframe>



        }
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
